body{
  background: #3EACC1;
}
p{
  font-size: 24px;
}
h1{
  font-size: 48px;
  padding-left: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
}
small {
  font-size: 14px;
  text-align: left;
  display: block;
  margin-bottom: 5px;
}

smallBlock {
  font-size: 14px;
  text-align: left;
  color: #6AC13E;
  display: block;
  margin-bottom: 5px;
}

.block {
  background-color: #C1533E;
  padding: 12px; 
}

.blockImg{
  display: inline-block;
  background-color: #C1533E;
  padding: 12px; 
}
