body{
  background: #3EACC1;
}
h1{
  padding-left: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
}
h2{
  text-align: center;
}
small {
  font-size: 10px;
  text-align: left;
  display: block;
  margin-bottom: 5px;
}

smallBlock {
  font-size: 10px;
  text-align: left;
  color: #3EACC1;
  display: block;
  margin-bottom: 5px;
}

.block {
  background-color: #C1533E;
  padding: 5px; 
}
