body{
  background: #AFB04F;
}
h1{
  margin-top: 5px;
  margin-bottom: 0px;
}
h2{
  text-align: center;
}
small {
  font-size: 10px;
  text-align: left;
  color: #AFB04F;
  display: block;
}

.block {
  background-color: #504FB0;
  width: 100vw;
  height: 60px;
}
