body{
  background: #AFB04F;
}
h1{
  padding-left: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
}
h2{
  text-align: center;
}
small {
  font-size: 10px;
  text-align: left;
  color: #504FB0;
  display: block;
  margin-bottom: 5px;
}

smallBlock {
  font-size: 10px;
  text-align: left;
  color: #AFB04F;
  display: block;
  margin-bottom: 5px;
}

.block {
  background-color: #504FB0;
  width: 70vw;
  padding: 5px; 
}
