body{
  background: #AFB04F;
}
table{
  background-color: rgb(100, 100, 100);
}
h1{
  margin-top: 5px;
  margin-bottom: 5px;
}
h2{
  text-align: center;
}
small {
  font-size: 10px;
  text-align: left;
  color: #4f4f4f;
  display: block;
}

.block {
  background-color: #504FB0;
  width: 100vw;
  height: 200px;
}
